{% extends "layout.html" %}
{% block body %}
    <div class="ui vertical inverted left visible sidebar labeled icon  menu"> 
        <a id="home-button" class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a id="pending-button" class="item">
            <i class="browser icon"></i>
            Pending Offers
            <div class="ui orange label">2</div>
        </a>
        <a id="past-button" class="item">
            <i class="history icon"></i>
            Past Reservations
        </a>
    </div>
    <h1 class="pusher">BOLO</h1>
    <div id="home" class="pusher">
        <h3>Next reservation</h3>
        <div class="ui grid">
            <div class="three wide column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="{{ url_for('static', filename='img/elyse.png') }}">
                    </div>
                    <div class="content">
                        <a class="header">Daniel Louise</a>
                        <div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i></div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui segment">
                    <h4>Reservation Info</h4>
                    <div class="ui list">
                      <div class="item">
                        <i class="calendar icon"></i>
                        <div class="content">
                          05/26/17
                        </div>
                      </div>
                      <div class="item">
                        <i class="hourglass full icon"></i>
                        <div class="content">
                          12:00PM - 2:00PM
                        </div>
                      </div>
                      <div class="item">
                        <i class="marker icon"></i>
                        <div class="content">
                            1234 Notreal Road, CA, Irvine
                        </div>
                      </div>
                      <div class="item">
                        <i class="building icon"></i>
                        <div class="content">
                            Room 302    
                        </div>
                      </div>
                      <div class="item">
                        <i class="dollar icon"></i>
                        <div class="content">
                          50
                        </div>
                      </div>
                    </div>
                    <h4>Contact Info</h4>
                    <div class="ui list">
                      <div class="item">
                        <i class="phone icon"></i>
                        <div class="content">
                          555-555-5555
                        </div>
                      </div>
                      <div class="item">
                        <i class="mail icon"></i>
                        <div class="content">
                          hi@yolobolo.com
                        </div>
                      </div>
                      <div class="item">
                        <i class="users icon"></i>
                        <div class="content">
                          YOLOBOLO
                        </div>
                      </div>
                    </div> 
                </div>
                <button class="negative ui button fluid">Cancel Reservation</button>    
            </div>  
        </div>
        <div class="upcoming-reservations-table">
            <h3>Upcoming Reservations</h3>
             <table class="ui teal table">
                  <thead>
                    <tr>
                        <th>User</th>
                        <th>Room</th>
                        <th>Date</th>
                        <th>Starting Time</th>
                        <th>Ending time</th>
                        <th>Cost</th>
                    </tr>
                  </thead><tbody>
                  {% for reservation in upcoming %}
                    <tr>
                        <td><img src="{{ url_for('static', filename='img/elliot.jpg') }}" data-html="<div class='header'>Chris Wong<div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i></div></div><div class='content'>Phone: 555-555-5555<br>Email: hi@YoloBolo.com<br> Company:YOLOBOLO</div> " class="ui avatar image"></td>
                        {% for room in rooms %}
                        {% if room[0] == reservation[2] %}
                            <td>{{room[2]}} </td>
                        {% endif %}
                        {% endfor %}   
                        <td>{{ reservation[5].date() }}</td>
                        <td>{{ reservation[5].time() }}</td>
                        <td>{{ reservation[6].time() }}</td>
                        <td>${{ reservation[3] }}</td>
                    </tr>
                  {% endfor %}
                    </tr>
                  </tbody>
            </table>
        </div>
        <div class="upcoming-reservations-table">
            <h3>Rooms listed</h3>
             <table class="ui orange celled table">
                  <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Wi-fi</th>
                        <th>Whiteboard</th>
                        <th>Reception</th>
                        <th>Ethernet</th>
                        <th>Parking</th>
                        <th>Refreshments</th>
                        <th>Projector</th>
                        <th>Speakers</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>{{ room[2] }}</td>
                        <td>{{ room[3] }}</td>
                        <td>{{ room[4] }}</td>
                        <td class="center aligned">
                            {% if room[9] %}
                                <i class="large green checkmark icon"></i>
                            {% else %}
                                <i class="large red x icon"></i> 
                            {% endif %}
                        </td>
                        <td class="center aligned">
                            {% if room[10] %}
                                <i class="large green checkmark icon"></i>
                            {% else %}
                                <i class="large red x icon"></i> 
                            {% endif %}
                        </td>
                        <td class="center aligned">
                            {% if room[12] %}
                                <i class="large green checkmark icon"></i>
                            {% else %}
                                <i class="large red x icon"></i> 
                            {% endif %}
                        </td>     
                        <td class="center aligned">
                            {% if room[13] %}
                                <i class="large green checkmark icon"></i>
                            {% else %}
                                <i class="large red x icon"></i> 
                            {% endif %}
                        </td>  
                        <td class="center aligned">
                            {% if room[14] %}
                                <i class="large green checkmark icon"></i>
                            {% else %}
                                <i class="large red x icon"></i> 
                            {% endif %}
                        </td>
                        <td class="center aligned">
                            {% if room[15] %}
                                <i class="large green checkmark icon"></i>
                            {% else %}
                                <i class="large red x icon"></i> 
                            {% endif %}
                        </td>
                        <td class="center aligned">
                            {% if room[16] %}
                                <i class="large green checkmark icon"></i>
                            {% else %}
                                <i class="large red x icon"></i> 
                            {% endif %}
                        </td>      
                        <td class="center aligned">
                            {% if room[17] %}
                                <i class="large green checkmark icon"></i>
                            {% else %}
                                <i class="large red x icon"></i> 
                            {% endif %}
                        </td>                                                      
                    </tr>
                    {% endfor %}         
                  </tbody>
            </table>
            <button class="circular ui orange button icon"><i class="plus icon"></i> &nbsp;Post new room</button> 
        </div>
    </div>
    <div id="pending" class="pusher">
            <div class="upcoming-reservations-table">
                <h3>Pending Reservations</h3>
                <table class="ui yellow table">
                  <thead>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Room #</th>
                        <th>Cost</th>
                        <th>Approval</th>
                    </tr>
                  </thead><tbody>
                    <tr>
                        <td><img src="{{ url_for('static', filename='img/elliot.jpg') }}" data-html="<div class='header'>Elliot Fu <div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></div><div class='content'>Phone: 555-555-5555<br>Email: hi@YoloBolo.com</div>" class="ui avatar image"></td>
                        <td>05/26/17</td>
                        <td>12:00PM - 2:00PM</td>
                        <td>1234 Notreal Road, Room 302, CA, Irvine</td>
                        <td>$50</td>
                        <td>
                            <div class="ui icon buttons">
                                <button class="positive ui basic button approve-reservation"><i class="checkmark icon"></i></button>
                                <button class="negative ui basic button deny-reservation"><i class="remove icon"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="{{ url_for('static', filename='img/elliot.jpg') }}" data-html="<div class='header'>Chris Wong<div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i></div></div><div class='content'>Phone: 555-555-5555<br>Email: hi@YoloBolo.com</div>" class="ui avatar image"></td>                       
                        <td>05/26/17</td>
                        <td>3:00PM - 5:00PM</td>
                        <td>1234 Notreal Road, Room 302, CA, Irvine</td>
                        <td>$50</td>
                        <td>
                            <div class="ui icon buttons">
                                <button class="positive ui basic button approve-reservation"><i class="checkmark icon"></i></button>
                                <button class="negative ui basic button deny-reservation"><i class="remove icon"></i></button>
                            </div>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    <div id="past" class="pusher">
            <div class="upcoming-reservations-table">
                <h3>Past Reservations</h3>
                 <table class="ui grey table">
                  <thead>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Room #</th>
                        <th>Cost</th>
                    </tr>
                  </thead><tbody>
                    <tr class="disabled">
                        <td><img src="{{ url_for('static', filename='img/elliot.jpg') }}" data-html="<div class='header'>Elliot Fu <div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></div><div class='content'>Phone: 555-555-5555<br>Email: hi@YoloBolo.com</div>" class="ui avatar image"></td>
                        <td>05/26/17</td>
                        <td>12:00PM - 2:00PM</td>
                        <td>1234 Notreal Road, Room 302, CA, Irvine</td>
                        <td>$50</td>
                    </tr>
                    <tr class="disabled">
                        <td><img src="{{ url_for('static', filename='img/elliot.jpg') }}" data-html="<div class='header'>Chris Wong<div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i></div></div><div class='content'>Phone: 555-555-5555<br>Email: hi@YoloBolo.com</div>" class="ui avatar image"></td>                       
                        <td>05/26/17</td>
                        <td>3:00PM - 5:00PM</td>
                        <td>1234 Notreal Road, Room 302, CA, Irvine</td>
                        <td>$50</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
{% endblock %}