{% extends "layout.html" %}
{% block body %}
    <div class="ui vertical inverted left visible sidebar labeled icon menu"> 
        <a class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item">
            <i class="browser icon"></i>
            Pending Offers
        </a>
        <a class="item">
            <i class="history icon"></i>
            Past Reservations
        </a>
    </div>
<div class="pusher">This is some content.</div>
{% endblock %}