{% extends "layout.html" %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Chris T. V. Wong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700|Roboto+Mono:500" rel="stylesheet" async defer>
    <link rel="stylesheet" href="css/font-awesome.min.css" async defer>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="background" class="bg-hero">
    </div>

    <div id="hero" class="center">
        <div>
            <div class="hero-img">
                <img src="img/chris.jpg">
            </div>
            <div class="hero-name">Chris Wong</div>
            <div class="hero-title">WEB DEVELOPER</div>
        </div>
    </div>

    <div id="about" class="center">
        <div class="about">
            <span class="header">About</span>
            <p>Hello! I'm a web developer studying computer science in my 3rd year at the <a href="http://www.uci.edu" class="link-underline" target="_blank">University of California at Irvine</a>. Besides building web applications, I love exploring UI/UX techniques and observing design trends, and I'm joining <a href="https://www.linkedin.com" class="link-underline" target="_blank">LinkedIn</a> as a UI engineer intern this summer.</p>
            <p>When I'm not developing software, I enjoy <a href="https://www.flickr.com/photos/chriswongtv" class="link-underline" target="_blank">photography</a>, traveling, reading, and having a good conversation over coffee. Feel free to check out my work below or my <a href="http://resume.chriswong.tv" class="link-underline" target="_blank">resume</a>.</p>
        </div>
    </div>

    <div id="work">
        <div id="cogifire" class="center">
            <div class="work-container">
                <div class="work-img">
                    <img src="img/cogifire.png" data-rjs="2" class="website-img">
                </div>
                <div class="work-details">
                    <div class="work-name">
                        Cogifire
                    </div>
                    <div class="work-title">
                        FOUNDER & WEB DEVELOPER
                    </div>
                    <div class="work-description">
                        Cogifire is a web development and services company. I founded Cogifire in 2010 as a holding company for all my web projects, and it soon expanded to offer professional web development and various services – including SEO marketing, advertising, and technology consultancy – to a number of corporations and organizations.
                    </div>
                    <div class="work-buttons">
                        <a href="http://www.cogifire.com" target="_blank">Website</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="hackuci" class="center">
            <div class="work-container">
                <div class="work-img">
                    <img src="img/hackuci.png" data-rjs="2" class="website-img">
                </div>
                <div class="work-details">
                    <div class="work-name">
                        HackUCI
                    </div>
                    <div class="work-title">
                        ORGANIZER & WEB DEVELOPER
                    </div>
                    <div class="work-description">
                        As a web developer in the marketing team, I am responsible for developing and maintaining its official website for marketing and outreach purposes. For HackUCI 2017, I built an interactive "live" site for participants to access vital information about the event and an admin panel for organizers to relay messages to participants in real-time and attend to participants’ mentor requests.
                    </div>
                    <div class="work-buttons">
                        <a href="http://www.hackuci.com/live" target="_blank">HackUCI Live</a>
                        <a href="http://www.hackuci.com/sponsor" target="_blank">HackUCI Sponsor</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="coolection" class="center">
            <div class="work-container">
                <div class="work-img">
                    <img src="img/coolection.png" data-rjs="2" class="website-img">
                </div>
                <div class="work-details">
                    <div class="work-name">
                        Coolection
                    </div>
                    <div class="work-title">
                        WEB DEVELOPER
                    </div>
                    <div class="work-description">
                        Coolection is a classified link library that automatically generates tags for websites. It started as a side project as I always run into scenarios where I recall the website's purpose but not its name or its URL. With Coolection, links are saved along with keywords, so I can always look up links based on the website's content. Coolection is currently in beta.
                    </div>
                    <div class="work-buttons">
                        <a href="https://www.coolection.co" target="_blank">Coolection</a>
                        <a href="https://github.com/chriswongtv/coolection" target="_blank">Source Code</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="clow" class="center">
            <div class="work-container">
                <div class="work-img">
                    <img src="img/clow.png" data-rjs="2" class="website-img">
                </div>
                <div class="work-details">
                    <div class="work-name">
                        Clow
                    </div>
                    <div class="work-title">
                        AWARDED BEST BIG DATA HACK AT TREEHACKS 2016
                    </div>
                    <div class="work-description">
                        Clow is a clinic-facing app that uses emotion analysis and machine learning to predict patients’ illnesses. When patients sign in before their session, the device will capture an image of the patient’s face and predict the patient’s illness. Its accuracy is trained and improved by matching the actual diagnosis result and the patient’s emotion readings.
                    </div>
                    <div class="work-buttons">
                        <a href="https://devpost.com/software/clow" target="_blank">Devpost</a>
                        <a href="https://github.com/chriswongtv/clow-clinic" target="_blank">Source Code</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="joyfeed" class="center">
            <div class="work-container">
                <div class="work-img">
                    <img src="img/joyfeed.png" data-rjs="2" class="website-img">
                </div>
                <div class="work-details">
                    <div class="work-name">
                        JoyFeed
                    </div>
                    <div class="work-title">
                        AWARDED MOST INNOVATIVE COGNITIVE COMPUTING SOLUTION BY HP ENTERPRISE AT ANGELHACK SF 2016
                    </div>
                    <div class="work-description">
                        Joyfeed is a browser extension that analyzes human emotions using machine learning and filters negative posts on unhappy users’ social feed by running sentiment analysis through the posts. I wrote the code that powers the extension using HTML5 and JavaScript and utilized APIs from HPE Haven OnDemand.
                    </div>
                    <div class="work-buttons">
                        <a href="https://community.havenondemand.com/t5/Blog/JoyFeed-Journey-to-Success-with-HPE-at-AngelHack-SF/ba-p/2767" target="_blank">Read More</a>
                        <a href="https://github.com/chriswongtv/joyfeed" target="_blank">Source Code</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact" class="center">
            <div class="contact">
                <span class="header">Talk to me:</span>
                <a href="/cdn-cgi/l/email-protection#fed8ddcec7c7c5d8ddcfcecac5d8ddcfcfcac5d8ddcfcecbc5d8ddcfcfcbc5d8ddcec8cac5d8ddcec7c7c5d8ddcfcfcfc5d8ddcfcecdc5d8ddcfcecbc5d8ddcfceccc5d8ddcfcecbc5d8ddcfcfcac5d8ddcfcecfc5d8ddcecac8c5d8ddcec7c7c5d8ddcfcfcfc5d8ddcfcec7c5" class="contact-card">
                    <span><i class="fa fa-envelope" aria-hidden="true"></i> &#099;&#104;&#114;&#105;&#115;&#064;&#099;&#111;&#103;&#105;&#102;&#105;&#114;&#101;&#046;&#099;&#111;&#109;</span>
                </a>
                <a href="https://www.linkedin.com/in/chriswongtv" class="contact-card" target="_blank">
                    <span><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</span>
                </a>
                <a href="https://www.github.com/chriswongtv" class="contact-card" target="_blank">
                    <span><i class="fa fa-github-square" aria-hidden="true"></i> GitHub</span>
                </a>
                <a href="http://blog.chriswong.tv" class="contact-card" target="_blank">
                    <span><i class="fa fa-pencil-square" aria-hidden="true"></i> Blog</span>
                </a>
            </div>
        </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/retina.min.js"></script>
    <script src="js/main.js"></script>

    <script async defer>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-23062542-1', 'auto');
      ga('send', 'pageview');
    </script>
<script>/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/\>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script></body>
</html>
{% endblock %}