{% extends "layout.html" %}
{% block body %}
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment landpage-image">

    <div class="ui container">
      <div class="ui large menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item">Browse Room</a>
        <a class="item">Post Room</a>
        <a class="item">Contact Us</a>
        <div class="right item">
          <a class="ui primary basic button header-button-left">Log in</a>
          <a class="ui primary basic button">Sign Up</a>
        </div>
      </div>
    </div>

    <div class="ui text container landpage-block">
      <h1 class="ui header">
        BOLO
      </h1>
      <h2 class="black-text">Local conference room rentals</h2><br>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>

  </div>
</div>
{% endblock %}


