{% extends "layout.html" %}
{% block body %}
  <script>
      $('body').css("background-image", "linear-gradient(-20deg, #ffd660 0%, #f4831f 100%)")
      //$('body').css("background-color", "#ffecc4")
      $('body').css("background-size", "100% auto")
  </script>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div id="login-box" style="width: 350px;margin-left: auto;margin-right: auto;margin-top:100px;">
      <h2 class="ui white header login-image">
        <img src="../static/img/bolo_icon.png" height="70px">
      </h2>

      <form class="ui large form" action="/dashboard">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <button class="ui fluid orange submit button">Login</button>
        </div>
      </form>

      <div class="ui message">
       New here?<a href="#"> Create an account</a>
      </div>
    </div>  
  </div>
</div>
{% endblock %}