.listing-form{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;

}
.listing-submit{
    margin-top: 45px;
    margin-left:auto;
    margin-right:auto;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center-align {
    display:flex;
    justify-content:center;
    align-items:center;
}

.landpage-image{
    background-image: url('../img/meeting-room.jpeg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    background-attachment: local !important;
    height: 100%;
}

.landpage-block{
    height: calc(100% - 2.85714286em);
}

h1.ui.header {
    font-size: 7rem;
    display: inline;
}

.header-button-left {
    margin-right: 0.5em !important;
}

.black-text {
    color: white !important;
    text-shadow: black 0px 0px 10px;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.segments .segment, .ui.segment {
    font-size: 1rem;
}

h3.ui.header {
    font-size: 2em;
}


.accordion-dropdown{
    padding-left: 6em;
}

.upcoming-reservations-table{
    padding-top: 200px;
}

.ui.table{
    width: auto;

h4 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

.gray {
    background-color: #f2f1ef !important;
}

.bullet-point {
    font-size: 1.5em;
}

.ui.inverted.vertical.footer {
    padding: 3em 0;
}

.login-box{
    margin-top: 120px !important;
    width: 450px !important;
}