.listing-form{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;

}
.listing-submit{
    margin-top: 45px;
    margin-left:auto;
    margin-right:auto;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.landpage-image{
    background-image: url('../img/meeting-room.jpeg') !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-attachment: local !important;
}

.landpage-block{
    padding: 20% 0;
}

h1.ui.header {
    font-size: 7rem;
}

.header-button-left {
    margin-right: 0.5em !important;
}

.black-text {
    color: black !important;
}

.accordion-dropdown{
    padding-left: 6em;
}

.upcoming-reservations-table{
    padding-top: 200px;
}

.ui.table{
    width: auto;
}