<ion-view view-title="BOLO">
	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search for Locations" value="{{ currentLocation }}">
			</label>
		</div>
		<div class="list card">
			<a href="#/app/listing/1" class="item item-image">
				<img src="https://images.unsplash.com/photo-1431540015161-0bf868a2d407?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
			</a>
			<div class="item">
				<h2>Irvine Office Towers</h2>
				<p>14-seat luxury meeting room</p>
			</div>
			<a class="item item-icon-left assertive" href="#">
				<i class="icon ion-pricetag"></i>
				Reserve for $50/day
			</a>
		</div>
		<div class="list card">
			<div class="item item-image">
				<img src="https://images.unsplash.com/photo-1479243727560-fef3e12ffab4?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=">
			</div>
			<div class="item">
				<h2>Irvine Office Towers</h2>
				<p>14-seat luxury meeting room</p>
			</div>
			<a class="item item-icon-left assertive" href="#">
				<i class="icon ion-pricetag"></i>
				Reserve for $50/day
			</a>
		</div>
	</ion-content>
</ion-view>
